<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}">
    <title>💡Find an Excuse-API</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg static-top">
</nav>
    <header >
      <h1 id="head">💡Find an Excuse to your plobem!💡</h1>
      <hr>
      <p>-a free API to find excuses/reasons to different problems</p>
    </header>

  <div class="card-columns" id="menu-container">
  <div class="card view overlay zoom">
    <img class="card-img-top" src="{{ url_for('static',filename='images/dog.webp') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Find reasons to buy a Dog</h5>
      <p class="card-text">Do you know? Having a dog makes YOU more awesome!</p>
      <a href="/reasons/buy a dog" class="btn btn-primary">Find a Reason!</a>
    </div>
  </div>

  <div class="card p-3 ">
    <img class="card-img-top" src="{{ url_for('static',filename='images/car.webp') }}" alt="Card image cap">
    <blockquote class="blockquote mb-0 card-body">
      <h5 class="card-title">Wanna buy a Car!?</h5>
      <p>Stop overthing and find a reason!</p>
      <footer class="blockquote-footer">
          <a href="/reasons/buy a car" class="btn btn-primary">Find a Reason!</a>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{ url_for('static',filename='images/familyfunction.webp') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Avoid a Family Function</h5>
      <p class="card-text">Wanna avoid a family function but can't find an excuse? </p>
      <a href="/reasons/skip a family function" class="btn btn-primary">Find a Reason!</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{ url_for('static',filename='images/bunk.webp') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Avoid a lecture</h5>
      <p class="card-text">Get ideas to bunk a lecture!</p>
      <a href="/reasons/avoid a lecture" class="btn btn-primary">Find a Reason!</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{ url_for('static',filename='images/homework.webp') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Excuses for incomplete homework</h5>
      <p class="card-text">Get an amazing excuse for your incomplete homework!</p>
      <a href="/reasons/excuses for incomplete homework" class="btn btn-primary">Find a Reason!</a>
    </div>
  </div>
  <div class="card text-center p-3">
    <img class="card-img-top" src="{{ url_for('static',filename='images/cancelparty.webp') }}" alt="Card image cap">
    <blockquote class="blockquote mb-0">
      <h5 class="card-title">Cancel a Party!</h5>
      <p>Click on the button below to find an Excuse.</p>
      <footer class="blockquote-footer">
          <a href="/reasons/cancel a party" class="btn btn-primary">Find a Reason!</a>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <img class="card-img-top" src="{{ url_for('static',filename='images/canceltrip.webp') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Cancel a trip!</h5>
      <p class="card-text">Get amazing ideas to cancel a fully planned trip!</p>
      <a href="/reasons/cancel a trip" class="btn btn-primary">Find a Reason!</a>
    </div>
  </div>

  <div class="card p-3 ">
    <img class="card-img" src="{{ url_for('static',filename='images/cat.webp') }}" alt="Card image">
    <blockquote class="blockquote mb-0">
      <h5 class="card-title">Should I buy a Cat!?</h5>
      <p>You should know reasons before buying anything, find a reason!</p>
      <footer class="blockquote-footer">
          <a href="/reasons/buy a cat" class="btn btn-primary">Find a Reason!</a>
      </footer>
    </blockquote>
  </div>
  <div class="card p-3">
    <img class="card-img-top" src="{{ url_for('static',filename='images/livelife.webp') }}" alt="Card image cap">
    <blockquote class="blockquote mb-0 card-body">
      <h5 class="card-title">Find Reason to live life!!</h5>
      <footer class="blockquote-footer">
        <a href="/reasons/live life" class="btn btn-primary">Find a Reason!</a>
      </footer>
    </blockquote>
  </div>
  <div class="card ">
    <img class="card-img-top" src="{{ url_for('static',filename='images/party.webp') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Chill on a Wednesday!</h5>
      <a href="/reasons/Chill on a Wednesday" class="btn btn-primary">Find a Reason!</a>
    </div>
  </div>
  <div class="card ">
    <img class="card-img-top" src="{{ url_for('static',filename='images/sunday.webp') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Find a reason to work on Sunday!</h5>
      <a href="/reasons/work on sunday" class="btn btn-primary">Find a Reason!</a>
    </div>
  </div>
  <div class="card ">
    <img class="card-img-top" src="{{ url_for('static',filename='images/weekend.webp') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Find a reason to Enjoy Weekends!</h5>
      <a href="/reasons/enjoy weekend" class="btn btn-primary">Find a Reason!</a>
    </div>
  </div>
  <div class="card ">
    <img class="card-img-top" src="{{ url_for('static',filename='images/exercise.webp') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Find a reason to Exercise daily!</h5>
      <a href="/reasons/exercise daily" class="btn btn-primary">Find a Reason!</a>
    </div>
  </div>
  <div class="card ">
    <img class="card-img-top" src="{{ url_for('static',filename='images/eathealthy.webp') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Find a reason to Eat Healthy!</h5>
      <a href="/reasons/eat healthy" class="btn btn-primary">Find a Reason!</a>
    </div>
  </div>
  <div class="card ">
    <img class="card-img-top" src="{{ url_for('static',filename='images/junk.webp') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Find a reason to avoid JUNKFOOD!</h5>
      <a href="/reasons/avoid junkfood" class="btn btn-primary">Find a Reason!</a>
    </div>
  </div>
  <div class="card ">
    <img class="card-img-top" src="{{ url_for('static',filename='images/study.webp') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Find a reason to Love Studies!</h5>
      <a href="/reasons/love studies" class="btn btn-primary">Find a Reason!</a>
    </div>
  </div>
  <div class="card ">
    <img class="card-img-top" src="{{ url_for('static',filename='images/mask.webp') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Find a reason to wear a mask!</h5>
      <a href="/reasons/wear a mask" class="btn btn-primary">Find a Reason!</a>
    </div>
  </div>
  <div class="card ">
    <img class="card-img-top" src="{{ url_for('static',filename='images/ac.webp') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Find a reason to Stay away from A.C.!</h5>
      <a href="/reasons/avoid ac" class="btn btn-primary">Find a Reason!</a>
    </div>
  </div>
  <div class="card ">
    <img class="card-img-top" src="{{ url_for('static',filename='images/bicycle.webp') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Find a reason to buy a Bicycle!!</h5>
      <a href="/reasons/buy a bicycle" class="btn btn-primary">Find a Reason!</a>
    </div>
  </div>
  <div class="card ">
    <img class="card-img-top" src="{{ url_for('static',filename='images/tv.webp') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Find a reason to watch TV!</h5>
      <a href="/reasons/watch tv" class="btn btn-primary">Find a Reason!</a>
    </div>
  </div>
  <div class="card ">
    <img class="card-img-top" src="{{ url_for('static',filename='images/outdoor.webp') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Find a reason to play outdoors games</h5>
      <a href="/reasons/play outdoor games" class="btn btn-primary">Find a Reason!</a>
    </div>
  </div>
  <div class="card ">
    <img class="card-img-top" src="{{ url_for('static',filename='images/friend.webp') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Find a reason to Make a new Friend!</h5>
      <a href="/reasons/make new friends" class="btn btn-primary">Find a Reason!</a>
    </div>
  </div>


</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
 <script src="{{ url_for('static',filename='js/home.js') }}" charset="utf-8"></script>
  </body>
</html>
